@import "src/variables";

input {
  max-width: map_get($grid-breakpoints, md);
}

.plus-icon {
  font-size: 20px;
}


.file {
  width: 100%;
  overflow: hidden;
  padding-top: 100%;
  border-radius: 0.6rem;
  background-size: cover;
  background-color: $dark;
  background-position: center;
  transition: ease-in-out 0.3s;

  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow
  }
}

.files {
  .file {
    text-align: center;
    position: relative;

    .type {
      width: 100%;
      color: $primary;
      font-size: 70px;
      margin-left: 2px;
      position: absolute;
      top: calc(50% - 50px);

      &.no-category {
        top: calc(50% - 45px);
      }
    }

    .category {
      color: #fff;
      max-width: 60%;
      font-size: 13px;
      padding: 3px 10px;
      border-radius: 100px;
      margin: -32px auto 0 auto;
      backdrop-filter: blur(10px);
      background-color: #ffffff30;
    }
  }

  .name {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

.form,
.view {
  display: flex;

  .file-actions {
    display: flex;
    justify-content: center;

    a {
      color: $dark;
    }
  }

  .badges {
    display: flex;
    margin-bottom: 10px;

    .badge {
      color: white;
      font-size: 12px;
      padding: 4px 8px 0;
      background: $primary;
      border-radius: 100px;
    }
  }

  .file-icon {
    display: flex;

    > i {
      margin: 0 auto;
      font-size: 80px;
    }
  }

  > div:first-child {
    width: 200px;
  }

  > div:last-child {
    width: 100%;
    margin-left: 20px;
  }
}

@media (max-width: 576px) {
  .form,
  .view {
    display: block;

    .badges {
      margin-top: 20px;
    }

    > div:first-child {
      margin: 0 auto;
    }

    > div:last-child {
      margin-left: 0;
    }
  }
}
