@import "src/variables";

input {
  max-width: map_get($grid-breakpoints, md);
}

.plus-icon {
  font-size: 20px;
}

.category {
  color: $text-muted;

  &:hover,
  &.active,
  &:focus {
    background: $primary;
    border-color: $primary;
    color: $white;
  }
}

.password {
  word-break: break-word;
}
