$primary: #1dcfa5;
$warning: #d46636;
$info: #2f9ac8;
$danger: #c64840;
$secondary: #485460;
$body-bg: #F6F7FB;
$body-color: #303952;
$light: #e9ecef;

$font-family-base: "Hind Madurai", sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 600;

$border-radius: 0.6rem;
$border-radius-sm: 0.4rem;
$border-radius-lg: 0.8rem;

$link-decoration: none;

$border-color: $light;
$input-border-color: $light;
$card-border-color: $light;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

$grid-breakpoints: map-remove(
    $grid-breakpoints,
    lg,
    xl,
    xxl,
);

$container-max-widths: map-remove(
    $container-max-widths,
    lg,
    xl,
    xxl,
);
